:root {
  --accent-bg-color: {{accent}};
  --accent-fg-color: {{accent_fg}};
  --accent-color: {{accent_text}};
  --destructive-bg-color: {{red}};
  --destructive-color: {{red}};
  --success-bg-color: {{green}};
  --success-color: {{green}};
  --warning-bg-color: {{yellow}};
  --warning-color: {{yellow}};
  --error-bg-color: {{red}};
  --error-color: {{red}};
  --window-bg-color: {{window}};
  --window-fg-color: {{foreground}};
  --view-bg-color: {{view}};
  --view-fg-color: {{foreground}};
  --headerbar-bg-color: {{headerbar}};
  --headerbar-fg-color: {{foreground}};
  --headerbar-backdrop-color: {{window}};
  --sidebar-bg-color: {{sidebar}};
  --sidebar-fg-color: {{foreground}};
  --sidebar-backdrop-color: {{window}};
  --secondary-sidebar-bg-color: {{window}};
  --secondary-sidebar-fg-color: {{foreground}};
  --secondary-sidebar-backdrop-color: {{window}};
  --card-bg-color: {{card}};
  --card-fg-color: {{foreground}};
  --thumbnail-bg-color: {{card}};
  --thumbnail-fg-color: {{foreground}};
  --dialog-bg-color: {{popover}};
  --dialog-fg-color: {{foreground}};
  --popover-bg-color: {{popover}};
  --popover-fg-color: {{foreground}};
  --overview-bg-color: {{view}};
  --overview-fg-color: {{foreground}};
  --active-toggle-bg-color: {{selection}};
  --active-toggle-fg-color: {{foreground}};
}
